In [2]:
#1 . A structured collection of data organized for efficient storage, retrieval, modification, and management.

In [3]:
#1
#SQL Databases (Structured Query Language):

#Relational databases that store data in structured tables with rows and columns.
#Data is organized based on relationships between tables.

#NoSQL Databases (Not Only SQL):

#Non-relational databases that use flexible data models (e.g., documents, key-value pairs, graphs).
#Offer more flexibility and scalability for handling unstructured or semi-structured data.

In [4]:
#2 
#DDL (Data Definition Language) is a subset of SQL (Structured Query Language) that's used to define and manage the structure of database objects like tables, indexes, views, and constraints.
#CREATE: Purpose: To create new database objects. CREATE TABLE Customers (CustomerID int, Name varchar(50), Email varchar(100));
#DROP:Purpose: To delete existing database objects.Example: DROP TABLE Customers;
#ALTER:Purpose: To modify the structure of existing database objects.Examples:ALTER TABLE Customers ADD Phone varchar(20);
#TRUNCATE:Purpose: To quickly delete all data from a table, but not the table itself. Example: TRUNCATE TABLE Customers;

In [5]:
#3 DML stands for Data Manipulation Language. It deals with data manipulation and includes the most common SQL statements such as SELECT, INSERT, UPDATE, DELETE, etc

#INSERT: The INSERT INTO statement is used to insert new records in a table

INSERT INTO employee (name, department, salary)
VALUES ('John Doe', 'Sales', 5000);

#UPDATE: The UPDATE statement is used to modify the existing records in a table

UPDATE employee 
SET salary = 6000 
WHERE name = 'John Doe';

#DELETE: The DELETE statement is used to delete existing records in a table

DELETE FROM employee 
WHERE name = 'John Doe';

SyntaxError: invalid syntax (1522178107.py, line 5)

In [6]:
#4 DQL (Data Query Language) is a subset of SQL (Structured Query Language) specifically used to retrieve and manipulate data from a database. It's the most commonly used part of SQL for everyday database interactions.

SELECT Name, Email
FROM Customers
WHERE City = 'New York';

SyntaxError: invalid syntax (3743048220.py, line 3)

In [7]:
#5 Primary Key:Unique identifier: A column (or a set of columns) that uniquely identifies each row in a table.
               #No duplicates: Ensures that no two rows can have the same primary key value.
#               Not null: Primary key values cannot be NULL (empty).
#Foreign Key: Establishes relationships: A column (or a set of columns) in one table that references the primary key of another table.
#             Creates links: Connects data between related tables, forming relational database structures.
#             Enforces referential integrity: Ensures that data in related tables remains consistent and avoids orphaned records.

In [8]:
#6 
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test1")
mycursor.execute("CREATE TABLE if not exists test1._table1(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(40))")
mydb.close()

ModuleNotFoundError: No module named 'mysql'

In [ ]:
#7 order is 1.FROM 2.WHERE 3.GROUP BY 4.HAVING 5.SELECT 6.DIST