In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [10]:
#1 

print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [11]:
#2
#loc and iloc are two indexers used to select data from a DataFrame. The main difference between them is how they handle indexing:
#loc is label-based indexing
#iloc is integer-based indexing

In [14]:
#3
reindex = [3,0,1,2]
new_df = df.reindex(reindex)

print(new_df.loc[2])
print(new_df.iloc[2])

#In the first output, we use new_df.loc[2] to select the row with label 
#In the second output, we use new_df.iloc[2] to select the row at integer position 2.

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [15]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [16]:
#4
mean_df = df1.mean()
print(mean_df)

std_df = df1['column_2'].std()
print(std_df)

column_1    0.640235
column_2    0.424602
column_3    0.554958
column_4    0.708200
column_5    0.406378
column_6    0.427135
dtype: float64
0.2271106761690914

In [18]:
#5
import pandas as pd

df1 = pd.DataFrame({'column_1': [1, 2, 3], 'column_2': [4, 5, 6]})

# Replace the second row of 'column_2' with a string variable
df1.loc[1, 'column_2'] = 'string'

mean_df = df1['column_2'].mean()
print(mean_df)

#This will raise a ValueError because you cannot mix string and numeric data in a single column in pandas

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [19]:
#6
#In pandas, a window function is a function that operates on a sliding window of data over a Series or DataFrame. 
#A window function computes a value for each element in the Series or DataFrame based on the values in a window of a specified size.
#rolling , expanding and ewm are some of the functons

In [20]:
#7
import datetime

# Get the current date and time
now = datetime.datetime.now()

# Extract the month and year from the current date and time
current_month = now.month
current_year = now.year

# Print the current month and year
print(f"Current month: {current_month}")
print(f"Current year: {current_year}")

Current month: 2
Current year: 2024

In [21]:
#8
import pandas as pd

first_date_str = input("Enter the first date (YYYY-MM-DD): ")


first_date = pd.Timestamp(first_date_str)


second_date_str = input("Enter the second date (YYYY-MM-DD): ")


second_date = pd.Timestamp(second_date_str)


date_diff = second_date - first_date


days_diff = date_diff.days
hours_diff = date_diff.seconds // 3600
minutes_diff = (date_diff.seconds % 3600) // 60

print(f"Difference in days: {days_diff}")
print(f"Difference in hours: {hours_diff}")
print(f"Difference in minutes: {minutes_diff}")

Enter the first date (YYYY-MM-DD):  2022-10-03
Enter the second date (YYYY-MM-DD):  2024-02-25

Difference in days: 510
Difference in hours: 0
Difference in minutes: 0

In [ ]:
#9
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file as a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name
column_name = input("Enter the column name: ")

# Prompt the user to enter the category order as a comma-separated list
category_order_str = input("Enter the category order as a comma-separated list: ")

# Parse the category order as a list of strings
category_order = category_order_str.split(',')

# Convert the specified column to a categorical data type
df[column_name] = df[column_name].astype('category')

# Set the category order for the categorical column
df[column_name].cat.set_categories(category_order, inplace=True)

# Sort the DataFrame by the categorical column
df_sorted = df.sort_values(by=[column_name])

# Display the sorted DataFrame
print(df_sorted)

In [ ]:
#10
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path: ")

# Read the CSV file as a DataFrame
df = pd.read_csv(file_path)

# Pivot the DataFrame to group the sales data by product category and time period
pivot_df = df.pivot(index='time_period', columns='product_category', values='sales')

# Plot the pivoted data as a stacked bar chart
pivot_df.plot(kind='bar', stacked=True)

# Set the title and labels for the chart
plt.title('Sales of Each Product Category Over Time')
plt.xlabel('Time Period')
plt.ylabel('Sales')
plt.legend(loc='upper left')

# Display the chart
plt.show()

In [ ]:
#11
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read the CSV file as a DataFrame
df = pd.read_csv(file_path)

# Calculate the mean, median, and mode of the test scores
mean_score = df['Test Score'].mean()
median_score = df['Test Score'].median()
mode_score = df['Test Score'].mode().tolist()[0]

# Create a DataFrame to display the results
results_df = pd.DataFrame({'Statistic': ['Mean', 'Median', 'Mode'],
                          'Value': [mean_score, median_score, mode_score]})

# Display the results
print(results_df)