In [1]:
import pandas as pd

In [3]:
#1 

data = [4,8,15,16,23,42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
#2
my_list = [17,26,63,6, 65, 78, 89, 5, 60,45]
series1 = pd.Series(my_list)
print(series1)

0    17
1    26
2    63
3     6
4    65
5    78
6    89
7     5
8    60
9    45
dtype: int64

In [9]:
#3 

data1 = {
"Name": ['Alice' ,'Bob' , 'Claire'],
"Age":[25,30,27],
"Gender":['Female','Male','Female']
}

df = pd.DataFrame(data1)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [10]:
#4 
#In Pandas, a DataFrame is a two-dimensional labeled data structure capable of holding data of different types (e.g., integer, float, string, etc.) in its columns.
#Pandas Series is a one-dimensional labeled array capable of holding data of any type (e.g., integer, float, string, etc.)

#Examples are 


print(series1)
print(df)

0    17
1    26
2    63
3     6
4    65
5    78
6    89
7     5
8    60
9    45
dtype: int64
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [11]:
#5
# There are many fuctions in pandas u can use to manipulate data such as head() , tail(),fillna(),info(),describe(). 
#For example if you dont kn0w the details about the data set you can use info() function and want to know the first and last rows of the data u can use head and tail function

In [12]:
#6
#Among the options provided, both Series and DataFrame are mutable in nature, while Panel is not.

In [13]:
#7 
series1 = pd.Series([10, 20, 30, 40, 50], name='numbers')
series2 = pd.Series(['A', 'B', 'C', 'D', 'E'], name='letters')

df = pd.DataFrame({'numbers': series1, 'letters': series2})


print(df)

   numbers letters
0       10       A
1       20       B
2       30       C
3       40       D
4       50       E